@charset "utf-8";

/* h1タグの設定 */
h1{
    color:red;
}
body{
    text-align: center;
    width: 400px;
    margin: 10px auto;
}
h2{
    font-size: 1.5rem;
    background-color: azure;
}
/* 奇数のリストのみ色変更 */
ol li:nth-child(odd){
    color: blue;
}
li{
    list-style-position: inside;
    line-height: 1.8rem;
}